//- This view uses the layout template as a base
extends layout

//- This block allows us to alter the page title when this view is rendered
block title
    title Admin Dashboard | #{event.name}

//- We create the dashboard within the layout template's 'content' block
block content
    .dash-container.container-fluid
        //- Dashboard Header
        header.dash-header
            .container
                span.h4.dash-welcome Hello Admin
                a.btn.btn-logout(href="/twitter/logout") Logout
                button.navbar-toggler.navbar-dark#dash-nav--toggle
                        span.navbar-toggler-icon

        .dash-content.container
            .row
                //- Dashboard navigation
                nav.dash-nav.col-12.col-md-3#dash-nav
                    ul.dash-nav--list.nav.pt-3.collapse
                        li.dash-nav--item.nav-item
                            a(href="/admin").dash-nav--link.nav-link Event
                        hr.w-100
                        li.dash-nav--item.nav-item
                            span.dash-nav--heading.nav-link Students

                        for student in students
                            - var url = `/admin/student/${student.slug}`
                            li.dash-nav--item.nav-item
                                +nav-dropdown(url, student.name, student.portfolio)
                        li.dash-nav--item.dash-nav--new.nav-item
                            a.dash-nav--link.nav-link(href='/admin/student/new_student') Add Student
                            
                //- Dashboard Form
                .dash-forms.col-12.col-md-9.pt-3
                    if dash_view === 'event'
                        .dash--heading
                            h1 Editing event details                    
                        include includes/forms/event-form
                    else if dash_view === 'student'
                        if student
                            .dash--heading
                                h1 Editing #{student.name}
                                - var action = `/admin/student/${student.slug}/delete`;                        
                                form(method="POST" action=action)
                                    button.btn.btn-danger(type="submit" action=action) Delete
                        else
                            .dash--heading
                                h1 Creating a new student
                        include includes/forms/student-form
                    else if dash_view === 'portfolio'
                        if portfolio
                            .dash--heading
                                h1 Editing #{portfolio.name} by #{student.name}
                                - var action = `/admin/student/${student.slug}/portfolio/${portfolio.slug}/delete`;                        
                                form(method="POST" action=action)
                                    button.btn.btn-danger(type="submit") Delete
                        else
                            .dash--heading
                                h1 Creating a new portfolio item for #{student.name}
                        include includes/forms/portfolio-form