extends index

block page_content
    //- The page name should be that of the student.
    h1= student.name

    .student-bio.container
        .row
            .col-10.col-md-12.mx-auto
                //- We split the student's bio into an array.
                //- The .split() method allows us to choose what 
                //- to split the array on. In this case we are 
                //- using \r\n. \r\n represents a new line. 
                - var bio = student.bio.split('\r\n');
                for paragraph in bio
                    //- If the user has used more than one newline 
                    //- whilst supplying their bio, it will not 
                    //- have a value. Therefore we only render it 
                    //- if there is a value. Otherwise there will be 
                    //- empty paragraph tags in the rendered HTML.
                    if paragraph
                        p= paragraph
    
    if student.email || student.facebook || student.twitter
        .social-bar.container
            .row
                .col-12
                    - var first = student.name.split(' ')[0];
                    span.h5 Contact #{first}: 
                        if student.email
                            - var email = `mailto:${student.email}`;
                            a(href=email).social-link Email
                        if student.facebook
                            - var facebook = `https://facebook.com/${student.facebook}`;
                            a(href=facebook).social-link Facebook
                        if student.twitter
                            - var twitter = `https://twitter.com/${student.twitter}`
                            a(href=twitter).social-link Twitter
                    
    
    //- Next we check if the student has any portfolio
    //- items. If they do, loop through them to display.
    if student.portfolio
        .container
            .row
                //- The grid used to display the 
                //- portfolio repeats itself every 3 
                //- items. The column sizes for 
                //- each grid item are: 12, 6, 6...
                //- 
                //- If the portfolio size is not 
                //- divisible by 3, the grid will 
                //- adapt depending on the result of 
                //- portfolio size % 3. If there are 
                //- 5 portfolio items, for example, 
                //- the grid will begin run normally 
                //- once, then begin at the second 
                //- item. Resulting in a grid of: 
                //- 12, 6, 6, 6, 6.
                //- If there are 4 grid items, the 
                //- resulting grid will be: 6, 6, 6, 6.
                - var n = 0;
                - var modulo = student.portfolio.length % 3;
                for portfolio in student.portfolio
                    - var col_size = n !== 0 ? 'col-md-6' : null;
                    .portfolio(class='col-12' class=col_size)
                        if portfolio.project_type === 'image'
                            img.portfolio--image(src=portfolio.image.url, alt=portfolio.image.alt)
                        else if portfolio.project_type === 'video'
                            .embed-responsive.embed-responsive-16by9= portfolio.yt

                        a.portfolio--link.h3(href="#")= portfolio.name
                        span.portfolio--desc= portfolio.description
                    - if (n < 2) { n++ } else { if (modulo === 2) { n = 1 } else if (modulo === 1) { n = 0 }};