mixin form-input(input, obj)
    //- If there is no student or 
    //- portfolio object passed to 
    //- the mixin, create a sub-object 
    //- for the 'image' property to 
    //- prevent rendering issues.
    - var obj = obj || { "image": { "url": null }};
    - var required = input.required ? 'required' : false;
    .form-group
        //- .replace() is passed two values, a 
        //- regExp that matches all instances of 
        //- ' ' within a string, and replaces
        //- them with an underscore. This is done 
        //- to ensure valid id and label attributes.
        - var label = input.label.toLowerCase().replace(/ /g, '_');

        //- Unless the input type is a heading, create a label.
        //- If the input type is a heading, create that heading.
        unless input.type === 'heading'
            label(for=input.id)= input.label
        else
            h4= input.label

        //- If there was an error when validating the form, 
        //- render the error message beside the relevant 
        //- label.
        if errors[input.id]
                span.text-danger.ml-3= errors[input.id].message
        
        //- Create the inputs depending on what their type value is set to.
        if input.type === 'textarea'
            textarea.form-control(name=input.id id=input.id rows="6" required=required)= obj[input.id]
            
        else if input.type === 'file'
            //- If there is no currently assigned image, 
            //- and the input was previously set to required, 
            //- the input is required. Otherwise it is not 
            //- required because there is already an image 
            //- associated with it.
            - required = required && !obj[input.id].url ? 'required' : false;
            input.form-control-file(type=input.type name=input.id id=input.id required=required accept="image/*")
            
        else if input.type === 'select'
            select.form-control(type=input.type name=input.id id=input.id value=obj[input.id] required=required)
                for option in input.options
                    //- Determine which dropdown option to 
                    //- give the "selected" attribute to.
                    - var selected = obj[input.id] === option.value ? true : false;
                    if selected
                        option(value=option.value selected)= option.label
                    else
                        option(value=option.value)= option.label
                        
        else if input.type !== 'heading'
            input.form-control(type=input.type name=input.id id=input.id value=obj[input.id] required=required)

        //- Any input with a description should have that included after the input
        if input.description
            small.form-text.text-muted= input.description

        //- If the input type is file, we create a preview of the current set image.
        if input.type === 'file' && obj[input.id] && obj[input.id].url
            p Current Image:
            - var url = `/assets/img/${obj[input.id].url}`
            img.w-100(src=url, alt=input.alt)

    //- If the input type is file, and there it is set to ask for an alt tag, 
    //- create an input to save as the alt tag
    if input.type === 'file' && input.request_alt
        .form-group
            - var alt_label = `${input.id}_alt`
            label(for=alt_label)= `Image Description`
            input.form-control(type="text" name=alt_label id=alt_label value=obj[input.id].alt required=required accept="image/*")