mixin nav-dropdown(url, text, sub_links)
    a.dash-nav--link.nav-link(href=url)= text
    .dash-nav--dropdown-toggle
    .dash-nav--dropdown-menu
        if sub_links
            for item in sub_links
                - var item_url = `${url}/portfolio/${item.slug}`
                a.dash-nav--link.nav-link(href=item_url)= item.name
        - var new_url = `${url}/portfolio/new_item`
        a.dash-nav--link.nav-link(href=new_url) Add Portfolio Item
